:root {
  --primary: rgb(30, 94, 255);
  --bg: rgb(245, 246, 250);
  --text-black: rgb(19, 21, 35);
  --text-gray-1: rgb(90, 96, 127);
  --text-gray-2: rgb(161, 167, 196);
  --border: rgb(230, 233, 244);
}

body {
  background-color: var(--bg);
  color: var(--text-gray-1);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, p {
  color: var(--text-black);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1.25em;
  line-height: 1.5em;
  vertical-align: baseline;
}

h2 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 1.2em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.25em;
}

.icon {
  width: 24px;
  height: 24px;
}

 /* Components */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.search__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.btn-flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background: rgb(216, 216, 216);
}

.nav-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  height: 44px;
  width: 100%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.nav-link.active {
  background-color: var(--primary);
  color: #fff;
}

.btn {
  border-radius: 4px;
  font-weight: 500;
  color: var(--primary);
}

.btn-bordered {
  border: 1px solid rgb(215, 219, 236);
  background-color: #fff;
}

.btn-bordered:hover {
  background-color: var(--bg);
}

.btn-bordered:active {
  background-color: #fff;
}

.btn_back {
  font-size: 13px;
  color: var(--text-gray-1);
  line-height: 21px;
  vertical-align: bottom;
}

.btn_back img {
  margin-right: 4px;
  width: 13px;
}

.chapter-pagination {
  border-bottom: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chapter-pagination__item {
 color: var(--text-gray-1); 
 font-weight: 500;
 height: 56px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 margin-right: 54px;
 margin-bottom: -1px;
 border-bottom: 2px solid transparent;
}

.chapter-pagination__item:first-child {
  margin-right: 32px;
}

.chapter-pagination__item input {
  width: 0;
  height: 0;
}

.chapter-pagination__item:has(input:checked) {
  color: var(--primary);
  border-color: var(--primary);
}

.scroll-style::-webkit-scrollbar {
  background: none;
  width: 4px;
}

.scroll-style::-webkit-scrollbar-track {
  width: 0;
}

.scroll-style::-webkit-scrollbar-thumb{
  background-color: var(--text-gray-2);
}

.wrapper {
  position: relative;
}

 /* Header */

header {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
  box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
  z-index: 2;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 100px;
-gap: 100px;
  column-gap: 100px;
  padding: 0 20px;
}

.header-logo__img-mobile {
  display: none;
}

.header-menu-btn {
  display: none
}

.header-search {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.header-search input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
}

.header-search input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
}

.header-search input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
}

.header-search input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
}

.header-search input::placeholder {
  font-weight: 500;
  font-size: 14px;
}

.header-search__mobile_overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 29px;
  height: 29px;
}

.header-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
}

.header-panel__btn {
  position: relative;
  margin-left: 20px;
}

.header-panel__btn:first-child {
  margin-left: 0;
}

.header-panel__btn::after {
  position: absolute;
  top: -4px;
  right: -4px;
  background: var(--primary);
  color: #fff;
  font-weight: 700;
  border-radius: 12px;
  line-height: 16px;
  padding: 0 4px;
  font-size: 12px;
}

#header-notifications::after {
  content: '5';
}

.header-panel__profile {
  margin-left: 40px;
}

.header-panel__profile-name {
  margin-left: 12px;
}

.header-panel__profile-icon {
  margin-left: 18px;
}

/* Content */

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 68px);
}

/* Sidebar */

.sidebar {
  padding: 16px;
  width: 250px;
  border-right: 1px solid rgb(245, 246, 250);
  -webkit-box-shadow: inset -1px 0px 0px 0px rgb(215, 219, 236);
  box-shadow: inset -1px 0px 0px 0px rgb(215, 219, 236);
  position: relative;
}

.sidebar-slice {
  margin-bottom: 28px;
}

.sidebar-slice:last-child {
  margin-bottom: 0;
}

.sidebar-slice__title {
  color: rgb(161, 167, 196);
  margin-left: 16px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 600;
}

.sidebar-tab {
  padding: 0 16px; 
}

.sidebar-tab__icon {
  margin-right: 16px;
}

.sidebar-tab__text {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sidebar-tab__notes {
  position: relative;
  background: var(--text-black);
  color: #fff;
  border-radius: 12px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 700;
  right: -4px;
}

 /* Main */

.page {
  padding: 29px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.page-options {
  width: 255px;
}

.page-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 43px;
}

.page-options__tab {
  padding-left: 20px;
}
.expanded .page-options__list {
  max-height: 100%;
}

.page-options__select-head {
  display: none;
}

.page-options__select-head-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
}

.page-options__tab.active {
  font-weight: 700;
}

.page-info__body {
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 30px;
}

.page-info__search {
  background-color: #fff;
  border: 1px solid rgb(217, 225, 236);
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  width: 100%;
  margin-bottom: 4px;
}

.page-info__search input::-webkit-input-placeholder {
  color: var(--text-gray-2);
}

.page-info__search input::-moz-placeholder {
  color: var(--text-gray-2);
}

.page-info__search input:-ms-input-placeholder {
  color: var(--text-gray-2);
}

.page-info__search input::-ms-input-placeholder {
  color: var(--text-gray-2);
}

.page-info__search input::placeholder {
  color: var(--text-gray-2);
}

 /* Article */

article {
  padding: 28px 28px 0;  
  color: var(--text-black);
}

article section {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--border);
  margin-top: 40px;
}

article section:first-child {
  margin-top: 0;
}

article section:last-child {
  border-bottom: none;
}

.article-paragraph {
  margin-bottom: 1.5em;
}

.article-chapter p:last-child {
  margin-bottom: 0;
}

.article-notice {
  padding: 20px;
  background-color: var(--bg);
}

.article-notice__text {
  color: var(--text-gray-1);
  margin-bottom: 0;
  font-weight: 500;
  margin-bottom: 4px;
}

.article-notice__text:last-child {
  margin-bottom: 0;
}

.article-list {
  counter-reset: article-list;
}

.article-list__item {
  counter-increment: article-list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-list__item:before {
  content: counter(article-list);
  margin-right: 24px;
  height: 36px;
  width: 36px;
  background-color: var(--bg);
  color: var(--text-gray-1);
  border-radius: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  --flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-chapter-pagination {
  margin-top: -12px;
  margin-bottom: 20px;
}

.article-opinion {
  border-top: 1px solid var(--border);
  padding: 40px 28px;
}

.article-opinion h2 {
  margin-bottom: 20px;
}

.article-opinion__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.article-opinion__buttons button {
  font-size: 14px;
  line-height: 20px;
  margin-right: 12px;
}

button#opinion-like {
  padding: 7px 22px;
}

button#opinion-dislike {
  padding: 7px 15px 7px 16px;
}

.article-opinion__notice {
  font-size: 12px;
  line-height: 1.3em;
}

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 29px;
  -moz-column-gap: 29px;
  column-gap: 29px;
}

.community__link {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 6px;
  padding: 28px;
  background-color: #fff;
}

.community__link h2 {
  margin-bottom: 12px;
}

.community__link p {
  font-size: 14px;
  line-height: 20px;
}

.community__link-text {
  color: var(--primary);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
}

 /* Modals */

.all-modal-background {
  opacity: 0;
  background-color: rgb(19, 21, 35, 0.3);
  position: fixed;
  top: 0;left: 0;
  bottom: 0;right: 0;
  z-index: -1;
}

.all-modal-background:has(.modal-window.opened) {
  opacity: 1;
  z-index: 2;
}

body:has(.modal-window.opened) {
  max-height: 100vh;
  overflow: hidden;
}

.modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 68px;
  height: 100%;
  position: relative;
}

.modal-window.opened .modal{
  display: block;
}

.modal {
  display: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
}

.mobile-navigation {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.mobile-navigation__close {
  display: none;
}

.mobile-navigation .modal {
  display: block !important;
  border-radius: 0;
  width: 260px;
  height: 100%;
  translate: -100% 0;
  overflow-y: scroll;
}

.mobile-navigation.opened .modal {
  translate: 0 0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

@media screen and (max-width: 1200px) {
  .icon {
    width: 29px;
    height: 29px;
  }

  header {
    padding: 12px 0;
    z-index: 3;
  }

  header .container {
    gap: 20px;
  }

  .header-menu-btn {
    display: block;
  }

  .header-logo {
    width: 135px;
  }

  .header-search .search {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 0;
  }

  .header-search__mobile_overlay {
    display: block;
  }

  .header-search input {
    width: 0;
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
  }

  .header-search input:focus {
    width: 200px;
    margin-left: 8px;
  }

  .header-panel {
    padding: 0; 
  }

  .header-panel__profile-avatar {
    width: 40px;
    height: 40px;
  }

  .header-panel__profile-name {
    display: none;
  }

  .header-panel__profile-icon {
    display: none;
  }

  .page {
    padding: 29px 20px;
  }

  .sidebar {
    display: none;
  }

  .all-modal-background {
    top: 64px;
  }

  .modal-window {
    padding-top: 0;
  }
}

@media screen and (max-width: 991px) {
  h2 {
    margin-bottom: 18px;
  }

  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .page-options {
    width: 100%;
  }

  .page-options__tab {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }

  .page-info {
    padding-top: 0;
  }

  .page-options__list {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .page-options__select-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary);
    padding-right: calc(1.2em + 5px);
  }

  .expanded .page-options__select-head-icon {
    rotate: 180deg;
  }

  .expanded .page-options__list {
    max-height: 1000px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    text-align: center;
  }

  .btn_back span {
    display: none;
  }

  .btn_back img {
    width: 15px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  header {
    padding: 8px 0;
  }

  .header-logo {
    width: auto;
  }

  .header-panel__profile-avatar {
    width: 32px;
    height: 32px;
  }

  .header-logo__img {
    display: none;
  }

  .header-logo__img-mobile {
    display: block;
    width: 24px;
  }

  .header-search input:focus {
    width: 100%;
  }

  .header-panel__btn {
    display: none;
  }

  .header-panel__profile {
    margin-left: 0;
  }

  .page {
    padding: 20px 15px;
    position: relative;
  }

  article {
    padding: 20px 20px 0;
  }

  .article-notice {
    padding: 14px;
    font-size: 11px;
  }

  .chapter-pagination {
    gap: 20px;
  }

  .chapter-pagination__item {
    font-size: 14px;
  }

  .chapter-pagination__item, .chapter-pagination__item:first-child {
    margin-right: 0;
  }

  .article-list__item:before {
    margin-right: 15px;
    display: inline;
    width: auto;
    height: auto;
    background: none;
  }

  .community {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 15px;
  }

  .all-modal-background {
    top: 48px;
  }

  .mobile-navigation .modal {
    width: 240px;
    padding: 10px;
  }
}