:root {
  --primary: rgb(30, 94, 255);
  --bg: rgb(245, 246, 250);
  --text-black: rgb(19, 21, 35);
  --text-gray-1: rgb(90, 96, 127);
  --text-gray-2: rgb(161, 167, 196);
  --border: rgb(230, 233, 244);
}

body {
  background-color: var(--bg);
  color: var(--text-gray-1);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, p {
  color: var(--text-black);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 30px;
  line-height: 36px;
  vertical-align: baseline;
}

h2 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 24px;
}

p {
  line-height: 1.5em;
  margin-bottom: 20px;
}

 /* Components */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search__input {
  flex: 1;
}

.btn-flex-content {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  overflow: hidden;
  background: rgb(216, 216, 216);
}

.tab {
  display: block;
  font-size: 14px;
  line-height: 20px;
  height: 44px;
  width: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.tab.active {
  background-color: var(--primary);
  color: #fff;
}

.btn {
  border-radius: 4px;
  font-weight: 500;
  color: var(--primary);
}

.btn-bordered {
  border: 1px solid rgb(215, 219, 236);
  background-color: #fff;
}

.btn-bordered:hover {
  background-color: var(--bg);
}

.btn-bordered:active {
  background-color: #fff;
}

.btn_back {
  font-size: 13px;
  color: var(--text-gray-1);
  line-height: 21px;
  vertical-align: bottom;
}

.btn_back img {
  margin-right: 4px;
}

.chapter-pagination {
  border-bottom: 1px solid var(--border);
  display: flex;
}

.chapter-pagination__item {
 color: var(--text-gray-1); 
 font-weight: 500;
 height: 56px;
 display: flex;
 align-items: center;
 margin-right: 54px;
 margin-bottom: -1px;
 border-bottom: 2px solid transparent;
}

.chapter-pagination__item:first-child {
  margin-right: 32px;
}

.chapter-pagination__item input {
  width: 0;
  height: 0;
}

.chapter-pagination__item:has(input:checked) {
  color: var(--primary);
  border-color: var(--primary);
}

 /* Header */

header {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
  padding: 0 20px;
}

.header__search {
  flex: 1;
}

.header__search input::placeholder {
  font-weight: 500;
  font-size: 14px;
}

.header__panel {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.header__panel-btn {
  position: relative;
  margin-left: 20px;
}

.header__panel-btn:first-child {
  margin-left: 0;
}

.header__panel-btn::after {
  position: absolute;
  top: -4px;
  right: -4px;
  background: var(--primary);
  color: #fff;
  font-weight: 700;
  border-radius: 12px;
  line-height: 16px;
  padding: 0 4px;
  font-size: 12px;
}

#header-notifications::after {
  content: '5';
}

.header__panel-profile {
  margin-left: 40px;
}

.header__panel-profile--name {
  margin-left: 11px;
}

.header__panel-profile--icon {
  margin-left: 18px;
}

/* Content */

.content .container {
  display: flex;
  min-height: calc(100vh - 68px);
}

/* Sidebar */

.sidebar {
  padding: 16px;
  width: 250px;
  border-right: 1px solid rgb(245, 246, 250);
  box-shadow: inset -1px 0px 0px 0px rgb(215, 219, 236);
}

.sidebar__slice {
  margin-bottom: 28px;
}

.sidebar__slice:last-child {
  margin-bottom: 0;
}

.sidebar__slice-title {
  color: rgb(161, 167, 196);
  margin-left: 16px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 600;
}

.sidebar-tab {
  padding: 0 16px; 
}

.sidebar-tab__icon {
  margin-right: 16px;
}

.sidebar-tab__text {
  display: block;
  flex: 1;
}

.sidebar-tab__notes {
  position: relative;
  background: var(--text-black);
  color: #fff;
  border-radius: 12px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 700;
  right: -4px;
}

 /* Main */

.settings {
  padding: 29px 40px;
  display: flex;
  gap: 30px;
  flex: 1;
}

.settings__options {
  width: 255px;
}

.settings__info {
  flex: 1;
  padding-top: 43px;
}

.settings-tab {
  padding-left: 20px;
}

.settings-tab.active {
  font-weight: 700;
}

.info__body {
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 30px;
}

.info__search {
  background-color: #fff;
  border: 1px solid rgb(217, 225, 236);
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  width: 100%;
  margin-bottom: 4px;
}

.info__search input::placeholder {
  color: var(--text-gray-2);
}

 /* Article */

article {
  padding: 28px 28px 0;  
  color: var(--text-black);
}

article section {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--border);
  margin-top: 40px;
}

article section:first-child {
  margin-top: 0;
}

article section:last-child {
  border-bottom: none;
}

.article-paragraph {
  margin-bottom: 1.5em;
}

.article-chapter p:last-child {
  margin-bottom: 0;
}

.article-notice {
  padding: 20px;
  background-color: var(--bg);
}

.article-notice__text {
  color: var(--text-gray-1);
  margin-bottom: 0;
  font-weight: 500;
  margin-bottom: 4px;
}

.article-notice__text:last-child {
  margin-bottom: 0;
}

.article-list {
  counter-reset: article-list;
}

.article-list__item {
  counter-increment: article-list;
  display: flex;
}

.article-list__item:before {
  content: counter(article-list);
  margin-right: 24px;
  height: 36px;
  width: 36px;
  background-color: var(--bg);
  color: var(--text-gray-1);
  border-radius: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-chapter-pagination {
  margin-top: -12px;
  margin-bottom: 20px;
}

.info-survey {
  border-top: 1px solid var(--border);
  padding: 40px 28px;
}

.info-survey h2 {
  margin-bottom: 20px;
}

.info-survey__buttons {
  display: flex;
  margin-bottom: 12px;
}

.info-survey__buttons button {
  font-size: 14px;
  line-height: 20px;
  margin-right: 12px;
}

button#survey-like {
  padding: 7px 22px;
}

button#survey-dislike {
  padding: 7px 15px 7px 16px;
}

.info-survey__notice {
  font-size: 12px;
  line-height: 1.3em;
}

.settings-community {
  display: flex;
  column-gap: 29px;
}

.settings-community__link {
  flex: 1;
  border-radius: 6px;
  padding: 28px;
  background-color: #fff;
}

.settings-community__link h2 {
  margin-bottom: 12px;
}

.settings-community__link p {
  font-size: 14px;
  line-height: 20px;
}

.settings-community__link-text {
  color: var(--primary);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
}